<!-- ht-footer-area-start -->
    <footer class="ht-footer-area fix">
        <div class="container">
            <div class="ht-footer-top-wrapper">
                <div class="ht-footer-top-left wow fadeInUp" data-wow-delay=".2s">
                    <a href="index.html"><img loading="lazy" src="assets/img/logo/logo-white.svg" alt="logo"></a>
                    <p class="desc">Alineamos a tu equipo. Potenciamos tus resultados.<br> Expertos en cultura organizacional.</p>
                </div>
                <div class="ht-footer-top-right wow fadeInUp" data-wow-delay=".4s">
                    <ul class="footer-social">
                        <li><a href="https://linkedin.com/company/teamwork-consultoria" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://instagram.com/teamworkconsultoria" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://facebook.com/teamworkconsultoria" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="ht-footer-widget-wrapper">
                <div class="ht-footer-widget">
                    <div class="ht-footer-widget-items wow fadeInUp" data-wow-delay=".3s">
                        <h5 class="head">Compañía</h5>
                        <ul class="link-list">
                            <li><a href="about.html">Sobre Nosotros</a></li>
                            <li><a href="services.html">Servicios</a></li>
                            <li><a href="project.html">Casos de Éxito</a></li>
                            <li><a href="contact.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="ht-footer-widget-items wow fadeInUp" data-wow-delay=".6s">
                        <h5 class="head">Contacto</h5>
                        <ul class="link-list">
                            <li><a href="#">Av. Paseo de la República 3050</a></li>
                            <li><a href="mailto:contacto@teamworkconsultoria.com">contacto@teamworkconsultoria.com</a></li>
                            <li><a href="tel:+51124567890">+51 (1) 2456-7890</a></li>
                        </ul>
                    </div>
                    <div class="ht-footer-widget-items wow fadeInUp" data-wow-delay=".9s">
                        <h5 class="head">Legal</h5>
                        <ul class="link-list">
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="#">Política de Privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ht-footer-copyright wow fadeInUp" data-wow-delay=".2s">
                <p>©2025 <span>Teamwork Consultoría</span>. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <!-- ht-footer-area-end -->